<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Chicago Crime</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Chicago Crime
            <img class="nav-ufo" src="../static/images/ufo.svg">
          </a>
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1>Chicago Crime</h1>
      <p>This site reflects reported incidents of crime that occurred in the City of Chicago in 2020 supplied by <a href = "https://dev.socrata.com/foundry/data.cityofchicago.org/ijzp-q8t2" target = "__blank">https://data.cityofchicago.org</a>.</p>
      <p>Current data is from calendar year 2018 and is updated annually.</p>
    </div>
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <label for="date">Enter a Date</label>
                        <input class="form-control" id="datetime" type="text" placeholder="1/11/2011">
                      </li>
                    </ul>
                  </div>
                  <button id="filter-btn" type="button" class="btn btn-default">Filter Data Table</button>
                </form>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-10">
          <div id="table-area" class="">
            <table id="ufo-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Year</th>
                  <th class="table-head">Month</th>
                  <th class="table-head">Primary Type</th>
                  <th class="table-head">Description</th>
                  <th class="table-head">Arrest</th>
                  <th class="table-head">Domestic</th>
                  <th class="table-head">Total Count</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <span class="bottom">UFO Sightings</span>
    </footer>
  </div>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="static/js/data.js"></script>
  <script src="static/js/app.js"></script>
</body>

</html>
